<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YT TV - Now Playing</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="tv-mode">

<!-- Top Controls -->
<div id="controls">

    <div>
        <!-- Logic: If playlistId exists, link to it. Otherwise link to Dashboard. -->
        <a th:href="${playlistId != null} ? @{/playlist/{id}(id=${playlistId})} : @{/dashboard}"
           class="btn-player btn-secondary">
            &larr; Back
        </a>
    </div>


    <div id="now-playing">Loading TV...</div>
    <div>
        <button onclick="nextVideo()" class="btn-player btn-red">Next Video &rarr;</button>
    </div>
</div>


<form id="aiReloadForm" th:action="@{/play/custom}" method="post" style="display:none;">
    <input type="hidden" name="videoIds" id="nextBatchIds">
    <input type="hidden" name="originalQuery" id="nextBatchQuery">
</form>

<!-- The YouTube Player Embed (Now Below) -->
<div id="player-container">
    <div id="player"></div>
</div>

<script th:inline="javascript">
    const videoQueue = /*[[${videoQueue}]]*/ [];
    const currentPlaylistId = /*[[${playlistId}]]*/ null;
    const originalAiQuery = /*[[${originalQuery}]]*/ null;
</script>
<script th:src="@{/js/tv-player.js}"></script>

</body>
</html>